

    
    <app-text  appMoveableObject [id]="'1'" [sensor]="'Date'"  appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>

    <app-text  appMoveableObject [id]="'2'" [sensor]="'Time'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>

    <app-text  appMoveableObject [id]="'3'" [sensor]="'Desktop Resolution'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>


    <app-text  appMoveableObject [id]="'4'" [sensor]="'Vertical Refresh Rate'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>


    <app-text  appMoveableObject [id]="'5'" [sensor]="'RTSS FPS'" appFontstyle  [color]="'white'" [fontSize]="'30px'" [fontFamily]="'Unispace, sans-serif'"></app-text>


    <app-text  appMoveableObject [id]="'6'" [sensor]=""  appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'">d:</app-text>
    <app-text  appMoveableObject [id]="'7'" [sensor]="'NIC3 Download Rate'" appFontstyle  [color]="'yellow'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>

    <app-text  appMoveableObject [id]="'8'" [sensor]=""  appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'">u:</app-text>
    <app-text  appMoveableObject [id]="'9'" [sensor]="'NIC3 Upload Rate'" appFontstyle  [color]="'aqua'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>
    
    <app-text  appMoveableObject [id]="'10'"  [sensor]="'Master Volume'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>
     


    <app-gauge  appMoveableObject [id]="'11'" [sensor]="'Master Volume'" [min]="'0'" [max]="'100'" [images]="'assets/gauges/All/images.json'"></app-gauge>


<div>
    <img src="assets/bg.gif" alt="" class="bg-layout">
    <img src="assets/Back_shiftx_Yellow.png" alt="" class="bg-layout">
</div>