

    <app-text #moveableComponent [sensor]="'Date'" [id]="'1'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>

    <app-text #moveableComponent [sensor]="'Time'"[id]="'2'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>

    <app-text #moveableComponent [sensor]="'Desktop Resolution'"[id]="'3'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>


    <app-text #moveableComponent [sensor]="'Vertical Refresh Rate'"[id]="'4'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>


    <app-text #moveableComponent [sensor]="'RTSS FPS'"[id]="'5'" appFontstyle  [color]="'white'" [fontSize]="'30px'" [fontFamily]="'Unispace, sans-serif'"></app-text>


    <app-text #moveableComponent [sensor]="" [id]="'7'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'">d:</app-text>
    <app-text #moveableComponent [sensor]="'NIC3 Download Rate'"[id]="'8'" appFontstyle  [color]="'yellow'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>

    <app-text #moveableComponent [sensor]="" [id]="'9'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'">u:</app-text>
    <app-text #moveableComponent [sensor]="'NIC3 Upload Rate'"[id]="'10'" appFontstyle  [color]="'aqua'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>
    
    <app-text #moveableComponent [sensor]="'Master Volume'"[id]="'11'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-text>
    
    <app-new-gauge #moveableComponent [sensor]="'Master Volume'"[id]="'12'" appFontstyle  [color]="'white'" [fontSize]="'18px'" [fontFamily]="'Unispace, sans-serif'"></app-new-gauge>

<!-- <div>
    <app-gauge #moveableComponent [id]="'12'" appFontstyle  [color]="'red'" [fontSize]="'50px'" [fontFamily]="'Unispace, sans-serif'">Gauge</app-gauge>
</div> -->
<div>
    <img src="assets/bg.gif" alt="" class="bg-layout">
    <img src="assets/Back_shiftx_Yellow.png" alt="" class="bg-layout">
</div>